fastapi
uvicorn
semantic-kernel[mcp]
pydantic
fastmcp
mcp-cli
sse-starlette
python-dotenv
azure-cosmos
azure-storage-file-share
pdfplumber
openpyxl
semantic-kernel
PyPDF2
langchain
faiss-cpu
langchain-openai
langchain-community